html,
body {
  height: 100%;
  position: relative;
  font-family: Roboto;
  background: rgb(248, 248, 248);
}

.burger-house-promotion {
  height: 100vh;
  background-image: url("../img/Rectangle.png");
  z-index: -2000;
}

.burger-house-bar {
  display: flex;
  align-items: center;
}

.burger-house-logo {
  top: 50px;
  left: 30px;
  display: flex;
}

.burger-house-contact {
  display: flex;
  top: 50px;
}

.burger-house-contact-text a {
  color: rgb(96, 59, 33);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  font-family: Montserrat;
  transition-duration: 0.5s, 0.5s;
}

.burger-house-contact-text a:hover {
  text-decoration: none;
  color: black;
  transition-duration: 0.5s, 0.5s;
}

.burger-house-contact-text {
  place-content: center;
  align-items: center;
  align-self: center;
  padding-left: 20px;
}

.burger-house-navbar {
  float: right;
  padding-top: 70px;
  margin-right: 60px;
}

.burger-house-nav-item {
  padding: 0px 30px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.burger-house-nav-link {
  color: rgb(96, 59, 33);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  font-family: Montserrat;
  transition-duration: 0.5s, 0.5s;
}

.burger-house-nav-link:hover {
  text-decoration: none;
  font-size: 25px;
  transition-duration: 0.5s, 0.5s;
  color: black;
}

.burger-house-main-ingroup {
  margin-top: 18rem;
  margin-left: 60px;
}

.burger-house-main-text-0 p {
  margin-top: -44px;
  margin-left: 10px;
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
}

.burger-house-main-text-1 p {
  font-family: "Alfa Slab One", cursive;
  font-size: 200px;
  margin-top: -50px;
  color: rgb(61, 37, 20);
  text-shadow: white 4px 6px 0px;
}

.burger-house-main-text-1 {
  transition-duration: 0.5s, 0.5s;
}

.burger-house-main-text-ger {
  transition-duration: 0.5s, 0.5s;
  z-index: 1000;
}

.burger-house-main-text-1:hover>p .burger-house-main-text-ger {
  padding-left: 200px;
  transition-duration: 0.5s, 0.5s;
}

.burger-house-main-text-1:hover>.burger-image-main {
  margin-top: -370px;
  width: 180px;
  margin-left: 490px;
  opacity: 1;
  transition-duration: 1.5s, 1.5s;
}

.burger-image-main {
  margin-top: -370px;
  width: 180px;
  margin-left: 490px;
  opacity: 0;
  transition-duration: 0.5s, 0.5s;
  z-index: -1000;
}

.burger-house-main-text-2 {
  font-family: "Alfa Slab One", cursive;
  font-size: 100px;
  margin-top: -90px;
  color: rgb(61, 37, 20);
  text-shadow: white 4px 6px 0px;
}

.burger-house-promotion-image-s {
  display: flex;
  margin-top: -30px;
}

.burger-house-promotion-image-shadow0 {
  margin-left: 51%;
  margin-top: -33%;
  z-index: 0;
}

.burger-house-promotion-image-burger {
  margin-left: -30%;
  margin-top: -19%;
  z-index: 1;
}

.burger-house-promotion-image-cola {
  margin-left: -8%;
  margin-top: -28%;
  z-index: 0;
}

.burger-house-promotion-image-potato {
  margin-left: -38%;
  margin-top: -25%;
  z-index: 0;
}

.burger-house-promotion-image-shadow1 {
  margin-left: 2%;
  margin-top: 1%;
  z-index: 0;
}

.burger-house-promotion-image-shadow2 {
  margin-left: -33%;
  margin-top: 3.5%;
  z-index: 0;
}

.burger-house-catalog {
  height: 62vh;
  background-color: white;
  z-index: -2000;
}

.catalog-left-image {
  margin-top: 69px;
  margin-left: 330px;
}

.catalog-up-image {
  margin-top: 69px;
  width: 16.5cm;
}

.catalog-down-image {
  margin-top: 31px;
  width: 16.5cm;
}

.catalog-left-image-ft {
  margin-top: -411px;
  margin-left: 361px;
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  color: white;
}

.catalog-left-image-st {
  margin-top: -29px;
  margin-left: 363px;
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  color: white;
}

.catalog-right-up-image-ft {
  margin-top: -187px;
  margin-left: 25px;
  color: white;
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
}

.catalog-right-up-image-st {
  margin-top: -32px;
  margin-left: 25px;
  color: white;
  font-size: 48px;
  font-family: "Bebas Neue", cursive;
}

.catalog-right-up-image-tt {
  margin-top: -40px;
  margin-left: 25px;
  color: white;
  font-size: 55px;
  font-family: "Bebas Neue", cursive;
}

.catalog-right-down-image-ft {
  margin-top: -187px;
  margin-left: 25px;
  color: white;
  font-family: "Bebas Neue";
  font-size: 30px;
}

.catalog-right-down-image-st {
  margin-top: -29px;
  margin-left: 25px;
  color: white;
  font-family: "Bebas Neue";
  font-size: 48px;
}

a:hover {
  text-decoration: none !important;
}

.custom-btn {
  margin-left: 39.5%;
  width: 160px;
  height: 60px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px 25px;
  font-family: Lato, sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: relative;
  display: inline-block;
  box-shadow: rgba(255, 255, 255, 0.5) 2px 2px 2px 0px inset, rgba(0, 0, 0, 0.1) 7px 7px 20px 0px, rgba(0, 0, 0, 0.1) 4px 4px 5px 0px;
  outline: none;
}

.btn-5 {
  width: 200px;
  height: 50px;
  line-height: 42px;
  padding: 0px;
  border: none;
  background: linear-gradient(rgb(255, 192, 69) 0%, rgb(195, 129, 0) 100%);
}

.btn-5:hover {
  color: rgb(255, 192, 69);
  background: rgb(255, 255, 255);
  box-shadow: none;
}

.btn-5::before,
.btn-5::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  height: 2px;
  width: 0px;
  background: rgb(255, 192, 69);
  box-shadow: rgb(255, 255, 255) -1px -1px 5px 0px, rgba(0, 0, 0, 0.2) 7px 7px 20px 0px, rgba(0, 0, 0, 0.133) 4px 4px 5px 0px;
  transition: all 400ms ease 0s;
}

.btn-5::after {
  right: inherit;
  top: inherit;
  left: 0px;
  bottom: 0px;
}

.btn-5:hover::before,
.btn-5:hover::after {
  width: 100%;
  transition: all 800ms ease 0s;
}

.custom-buton-div {
  margin-left: 40.3%;
  margin-top: 67px;
}

.burger-house-company {
  height: 130vh;
  background-color: white;
  z-index: -2000;
}

.burger-house-company-text-s {
  text-align: center;
}

.burger-house-company-text-s-f {
  font-family: "Alfa Slab One", cursive;
  font-size: 70px;
  color: rgb(61, 37, 20);
}

.burger-house-company-text-s-s {
  font-family: "Bebas Neue";
  width: 63%;
  margin-left: 18.5%;
  font-size: 30px;
}

.burger-house-company-product-s-image {
  display: flex;
  margin-top: 60px;
}

.burger-house-company-product-s-image-shadow-f,
.burger-house-company-product-s-image-shadow-t {
  margin-left: -92px !important;
}

.burger-house-company-product-s-image-shadow-s {
  margin-left: -250px !important;
}

.burger-house-company-product-s-image-s {
  margin-top: 100px;
}

.burger-house-company-product-s-image-s-s {
  margin-left: -75px;
}

.burger-house-company-f-product-f-t,
.burger-house-company-t-product-f-t {
  color: rgb(61, 37, 20);
  font-family: "Bebas Neue";
  font-size: 45px;
  margin-left: 55px;
}

.burger-house-company-f-product-s-t,
.burger-house-company-t-product-s-t {
  color: rgb(61, 37, 20);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 25px;
  width: 94%;
  text-align: center;
}

.company-item-f,
.company-item-s,
.company-item-t {
  padding-left: 150px;
}

.burger-house-company-s-product-f-t {
  color: rgb(61, 37, 20);
  font-family: "Bebas Neue";
  font-size: 45px;
  margin-left: 20px;
  align-items: center;
}

.burger-house-company-s-product-s-t {
  color: rgb(61, 37, 20);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-left: -190px;
  font-size: 25px;
  text-align: center;
  width: 163%;
}

.burger-house-slider {
  height: 145vh;
  background-color: white;
  max-width: 100%;
}

.Slider {
  color: rgb(255, 255, 255);
}

.item {
  display: flex !important;
  height: 60vh !important;
}

.inner-Image {
  max-width: 1700px;
  height: 509px;
  width: 90%;
  margin: 0px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  transition: all 0.3s linear 0s;
  box-shadow: rgb(151 151 151) 0px 0px 20px 3px;
}

.inner-Image span {
  display: grid;
}

.slick-dots {
  left: -752px;
  bottom: 83px !important;
}

.slick-dots li button {
  border-radius: 50%;
  /* background-color: rgb(255, 255, 255) !important; */
}

.out {
  transition: all 300ms linear 0s;
}

.inner-Image span:nth-child(1) {
  float: right;
  margin-top: 35px;
  margin-right: 35px;
}

.inner-Image span:nth-child(2) {
  font-family: "Bebas Neue";
  color: rgb(61, 61, 61);
  float: left;
  margin-left: 54px;
  margin-top: 27px;
  font-size: 50px;
}

.inner-Image span:nth-child(3) {
  font-family: "Alfa Slab One", cursive;
  color: rgb(61, 37, 20);
  margin-left: -144px;
  margin-top: 94px;
  float: left;
  font-size: 50px;
}

.inner-Image span:nth-child(4) {
  color: rgb(61, 61, 61);
  font-size: 20px;
  margin-left: 55px;
  margin-top: 174px;
  width: 800px;
}

.burger-house-reservation-table {
  display: flex;
  margin-top: 100px;
}

.burger-house-reservation-table-left-image-s {
  margin-top: 180px;
  margin-left: -120px;
}

.burger-house-reservation-table-right-image {
  margin-top: 180px;
  padding-right: 0px;
}

.burger-house-reservation-table-center-text p:nth-child(1) {
  color: rgb(61, 37, 20);
  font-size: 60px;
  font-family: "Bebas Neue";
  height: 60px;
}

.burger-house-reservation-table-center-text p:nth-child(2) {
  color: rgb(61, 37, 20);
  font-family: "Alfa Slab One", cursive;
  font-size: 80px;
  width: 843px;
}

.burger-house-reservation-table-center-text {
  text-align: center;
  margin-left: 100px;
}

.burger-house-reservation-table-left-image-f {
  margin-left: 0px;
}

.burger-house-reservation-table-center-text-box {
  margin-top: 235px;
  margin-left: -870px !important;
  margin-right: 19px !important;
}

.login__input {
  border: 2px solid rgb(249, 148, 0);
  background: none;
  border-radius: 7px;
  padding: 10px;
  margin: 3px;
  font-weight: 700;
  width: 100%;
  transition: all 0.2s ease 0s;
  display: flex;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-color: rgb(189, 112, 0);
}

.tasima {
  margin-top: 12px;
  margin-left: 15px;
  user-select: none;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  padding: 1rem 0.9rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0px 0px;
  transition: opacity 0.1s ease-in-out 0s, transform 0.1s ease-in-out 0s;
}

.col-6 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 5px !important;
  padding-left: 0px !important;
}

.button-find-or-order {
  font-family: "Bebas Neue";
  font-size: 30px;
  height: 48px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgb(191, 34, 34);
  border: none !important;
  color: rgb(255, 255, 255) !important;
}

.burger-house-reservation-table-center-text-box {
  padding-right: 165px;
  padding-left: 26px;
}

.burger-house-site-end {
  height: 81.1vh;
  background-image: url("../img/burger-house-end.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.burger-house-site-end-backgroundimage {
  width: 1903px;
  z-index: -5000;
}

.burger-house-site-end-logo {
  margin-left: 70px;
  padding-top: 70px;
}

.burger-house-site-end-left-text {
  color: white;
  font-size: 20px;
  width: 670px;
  margin-top: 125px;
  margin-left: 73px;
}

.burger-house-site-end-right-ul {
  list-style: none;
  margin-top: 117px;
  margin-left: 1307px;
}

.burger-house-site-end-right-li-1,
.burger-house-site-end-right-li-2 {
  display: flex;
}

.burger-house-site-end-right-li-1 img,
.burger-house-site-end-right-li-2 img {
  padding-top: 10px;
  width: 40px;
  height: 40px;
}

.burger-house-site-end-right-li-1 img {
  width: 34px !important;
  padding-left: 7px;
}

.burger-house-site-end-right-li-1 p,
.burger-house-site-end-right-li-2 p {
  color: white;
  padding-left: 15px;
  font-size: 30px;
}

.burger-house-site-end-left-bottom-text {
  color: white;
  font-size: 17px;
  margin-left: 73px;
}

.burger-house-site-end-right-bottom-logo-s ul {
  display: flex;
  list-style: none;
  float: right;
  margin-top: -40px;
  margin-right: 69px;
}

.burger-house-site-end-right-bottom-logo-s ul li {
  padding-left: 44px;
}

@media only screen and (max-width: 769px) {

  .col-4 {
    width: 100%;
  }

  .col-6 {
    width: 100%;
  }

  .burger-house-promotion {

    background-color: black;

  }

  .burger-house-logo {
    margin-top: 0px;
    margin-left: 15px;
  }

  .burger-house-contact,
  .burger-house-navbar {
    display: none;
  }

  .burger-house-main-bground {

    margin-left: -69px;
    margin-top: -50%;
  }

  .burger-house-main-bground img {
    width: 90%;
    margin-left: 25px;
  }

  .burger-house-main-text-0 p {
    font-size: 25px;
    margin: -38px -28px;
  }

  body {
    max-width: 414px;
  }

  .burger-image-main {
    display: none;
  }

  .burger-house-main-text-1 {
    margin-top: 70px;
  }

  .burger-house-main-text-1 p,
  .burger-house-main-text-ger,
  .burger-house-main-text-2 {
    font-size: 60px;
  }

  .burger-house-main-text-1 {
    margin-left: -5px;
  }

  .burger-house-main-text-1:hover>p .burger-house-main-text-ger {
    padding-left: 0px;
  }

  .burger-house-main-text-2 {
    margin-top: -27px;
    margin-left: 31px;
  }

  .catalog-left-image {
    width: 360px;
    margin-left: 30px;
    margin-top: 35px;
  }

  .catalog-left-image-ft,
  .catalog-left-image-st {
    margin-left: 46px;
  }

  .catalog-left-image-ft {
    margin-top: -245px;
    font-size: 30px;
  }

  .catalog-left-image-st {
    margin-top: -8px;
    font-size: 35px;
    line-height: 35px;
  }

  .burger-house-catalog {
    height: 75vh;
  }

  .burger-house-catalog-r {
    margin-left: -88.7px;
    margin-top: 119px;
  }

  .catalog-up-image {
    width: 360px;
  }

  .catalog-right-up-image-ft,
  .catalog-right-up-image-st,
  .catalog-right-up-image-tt {
    font-size: 31px;
  }

  .catalog-right-up-image-ft {
    font-size: 30px;
    margin-top: -110px;
    margin-left: 15px;
  }

  .catalog-right-up-image-st {
    margin-left: 15.5px;
    margin-top: -34px;
  }

  .catalog-right-up-image-tt {
    margin-left: 15.5px;
    margin-top: -33px;
  }

  .catalog-down-image {

    width: 360px;
    margin-top: 12px;
  }

  .catalog-right-down-image-ft {

    margin-top: -111px;
    margin-left: 15px;
  }

  .catalog-right-down-image-st {

    margin-top: -34px;
    margin-left: 15px;
  }

  .burger-house-promotion-image-shadow0 img {

    width: 453px;
    margin-left: -250px !important;
    ;
    margin-top: 123px;
  }

  .burger-house-promotion-image-burger img {

    width: 239px;
    margin-left: -192px !important;
    margin-top: 190px;
  }

  .burger-house-promotion-image-cola img {

    width: 82px;
    margin-left: -55px !important;
    margin-top: 158px;
    height: 266px;
  }

  .burger-house-promotion-image-potato img {

    width: 180px;
    margin-left: -157px !important;
    margin-top: 168px;
  }

  .burger-house-promotion-image-shadow1 img {

    width: 434px;
    margin-left: -197px !important;
    margin-top: 326px;
  }

  .burger-house-promotion-image-shadow2 img {

    width: 234px;
    margin-left: -132px !important;
    margin-top: 310px;
  }

  .custom-buton-div {
    margin-top: -1px;
    margin-left: 31px;
  }

  .burger-house-company-text-s-f {
    font-size: 35px;
  }

  .burger-house-company-text-s-s {
    font-size: 26px;
    width: 85%;
    margin-left: 38px;
  }

  .company-item-f img {
    width: 253px;
    margin-left: -114px;
  }

  .burger-house-company-f-product-f-t {
    margin-left: -62px;
    width: 200px;
    font-size: 30px;
  }

  .burger-house-company-f-product-s-t {
    width: 325px;
    margin-left: -125px;
    margin-top: -9px;
  }

  .burger-house-company {
    height: 237vh;
  }

  .burger-house-company-product-s-image-burger-s {
    margin-left: -209px !important;
    width: 238px;
    margin-top: 490px;
  }

  .burger-house-company-product-s-image-shadow-s {
    width: 333px;
  }

  .burger-house-company-s-product-f-t {
    margin-left: -185px;
    width: 200px;
    font-size: 30px;
  }

  .burger-house-company-s-product-s-t {
    width: 335px;
    margin-left: -254px;
    margin-top: -9px;
  }

  .burger-house-company-product-s-image-burger-t {
    width: 253px;
    margin-left: -364px;
    margin-top: 1126px;
  }

  .burger-house-company-product-s-image-shadow-t {
    width: 264px;
    margin-left: -235px !important;
    margin-top: 1386px;
  }

  .burger-house-company-t-product-f-t {
    margin-left: -321px;
    width: 200px;
    font-size: 30px;
  }

  .burger-house-company-t-product-s-t {
    width: 325px;
    margin-left: -383px;
    margin-top: -9px;
  }

  .right-here-three {
    margin-left: -255px;
  }

  .ortancabuton {
    margin-left: -120px !important;
  }

  .slick-slide {
    margin-top: 40px;
    height: 10vh;
  }

  .f-slider-image,
  .s-slider-image,
  .t-slider-image {
    width: 351px;
    border-radius: 4px;
  }

  .inner-Image span:nth-child(2) {

    margin-top: -5px;
    margin-left: 115px;
    font-size: 50px;
  }

  .inner-Image span:nth-child(3) {

    margin-top: -5px;
    margin-left: 12px;
    font-size: 31px;
  }

  .inner-Image span:nth-child(4) {


    margin-left: 0px;
    width: fit-content;
    font-size: 16px;
    text-align: center;
    ;
    margin: auto 11px;
  }

  .burger-house-reservation-table-left-image-f {
    display: none;
  }

  .burger-house-reservation-table-left-image-s {
    display: none;
  }

  .burger-house-reservation-table-center-text {
    margin-left: -217px;
    margin-top: -70px;
  }

  .burger-house-reservation-table-center-text p:nth-child(1) {
    margin-left: 0px;
    margin-top: -25px;
    font-size: 40px;
  }

  .burger-house-reservation-table-center-text p:nth-child(2) {
    margin-left: 2px;
    margin-top: -28px;
    font-size: 35px;
  }

  .burger-house-reservation-table-right-image {
    display: none;
  }

  .burger-house-reservation-table-center-text-box {
    margin-top: 17px;
    margin-left: -634px !important;
    width: 878px;
    display: grid !important;
  }

  .burger-house-reservation-table-center-text-box-s {
    padding-top: 5px;
  }

  .burger-house-slider {
    height: 120vh;
  }

  .burger-house-site-end-logo>.burger-house-site-end-logo {
    margin-top: -56px;
    margin-left: -35px;
    width: 340px;
  }

  .burger-house-site-end-left-text p {

    margin-left: -50px;
    width: 370px;
    margin-top: -49px;
    text-align: center;
  }

  .burger-house-site-end-right-location-mail {
    margin-top: -85px;
  }

  .burger-house-site-end-right-ul {
    margin-left: 0;
  }

  .burger-house-site-end-right-li-1 {
    margin-top: -84px;
  }

  .burger-house-site-end-right-li-1 img {
    width: 35px !important;
    height: 40px;
    margin-left: 50px;
  }

  .burger-house-site-end-right-li-1 p {
    font-size: 16px;
    margin-top: 15px;
  }

  .burger-house-site-end-right-li-2 {
    margin-left: 1px;
  }

  .burger-house-site-end-right-li-2 img {
    width: 30px !important;
    height: 35px;
    margin-left: 100px;
  }

  .burger-house-site-end-right-li-2 p {
    font-size: 16px;
    margin-top: 11px;
    margin-left: -2px;
  }

  .burger-house-site-end-left-bottom-text {

    color: white;
    font-size: 12px;
    margin-top: 137px;
    margin-left: 28px;
  }

  .burger-house-site-end-right-bottom-logo-s {

    margin-top: -94px;
  }

  .burger-house-social-media-icon-i img {
    width: 45px;
    margin-left: -200px;
  }

  .burger-house-social-media-icon-f img {
    width: 45px;
    margin-left: -160px;
  }

  .burger-house-social-media-icon-t img {
    width: 45px;
    margin-left: -120px;
  }

  .burger-house-social-media-icon-w img {
    width: 45px;
    margin-left: -80px;
  }

  .burger-house-site-end-right-bottom-logo-s ul{
    margin-right: 30px !important;
  }

}